#savedPasswordsContainer {
    display: flex;
    justify-content: center;
}

#savedPasswordsBox {
    display: flex;
    width: 30%;
    flex-direction: column;
    /* border: 1px solid #cdcbff; */
}

.savedPassword {
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid #EE5622;
    display: flex;
    flex-direction: column;
}

.savedPassword i:first-child {
    color: #EE5622;
}

.savedPassword i {
    cursor: pointer;
}

.displayInfoContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.displayInfoContainer i {
    margin-left: 10px;
}

.displayPasswordDiv {
    text-align: center;
}

.displayPasswordContainer {
    text-align: center;
}

.d-none {
    display: none;
}